@import "tailwindcss";

@font-face {
  font-family: "Mersad";
  src: url("/fonts/Mersad-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aquire";
  src: url("/fonts/AquireBold-8Ma60.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Mersad", sans-serif;
}

.hero {
  font-family: "Aquire", sans-serif;
}
